body {
    background-color: #1A0B2E;
    max-width: 1600px;
    font-family: inter;
    
}

header {
    background-color: #1A0B2E;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    gap: 32px;
    color: white;
}

.navbtn {
    display: flex;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 12px 16px;
    height: 44px;
    align-items: center;
    gap: 5px;
}

.navbtn h6 {
    font-size: 1em;
    font-weight: 600;
}

.navbtn img {
    width: 1em;
    height: 1em;
}

.hero {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    color: white;
    justify-items: center;
    padding: 101px;
}

.microphone {
    display: flex;
}

.microphone img {
    background-image: url(./assets/hero-circle.png);
    background-size: 350px 350px;
    background-position: center;
    width: 116px;
    height: 175px;
    padding: 77px 116px 97px 116px;
}

.badge {
    position: absolute;
    z-index: 3;
    background: #00FF88;
    padding: 5px 10px;
    border-radius: 15px;
    color: black;
    justify-items: end;
}

.about-content {
    display: contents;
}

.banner-content {
    display: contents;
}

.banner-content h1 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content p {
    font-size: 1em;
    margin-bottom: 8px;
    font-weight: 400;
}

.banner-content .btn1 {
    display: flex;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 12px 16px;
    height: 44px;
    align-items: center;
    gap: 5px;
}

.banner-btn {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.banner-content .btn2 {
    display: flex;
    background: none;
    color: #38e721;
    border: solid 1px green;
    border-radius: 100px;
    padding: 12px 16px;
    height: 44px;
    align-items: center;
    gap: 5px;
}

.About {
    background-color: #1A0B2E;
}

.about-content {
    justify-items: center;
    color: white;
    align-items: center;
    text-align: center;
}

.about-content h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-content p {
    text-align-last: center;
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    text-align: center;
    opacity: 80%;
}

.about-cards-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 80px;
}

.card-content {
    text-align: center;
    gap: 16px;
}

.card-content h3 {
    font-size: 3em;
    font-weight: 900;
    color: #00FF88;
}

.card-content p {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 80%;
}

.why-techwave .why-header {
    text-align-last: center;
}

.why-techwave h3 {
    font-size: 3em;
    font-weight: 700;
    color: #FFFFFF;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 40px 200px 120px 200px;
}

.grid-content {
    padding: 40px;
    background-color: #4d01abb8;
}

.grid-content h4 {
    font-size: 1.5em;
    font-weight: 700;
    color: #FFFFFF;
}

.grid-content p {
    font-size: 1em;
    font-weight: 400;
    opacity: 70%;
    color: #FFFFFF;
}

.grid-card-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-card-2,
.grid-card-3,
.grid-card-4 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-card-5 {
    grid-column: span 1;
    grid-row: span 1;
}

.episode {
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.episode .episode-header h3 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #FFFFFF;
}

.episode .videos {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.episode h6 {
    font-size: 1.5em;
    font-weight: 700;
    color: #FFFFFF;
}

.episode p {
    font-size: 1em;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 70%;
}

.episode span {
    color: green;
}

.episode .duration {
    display: flex;
    gap: 6px;
}

.host {
    background-color: #1A0B2E;
    margin: 120px 200px;
}

.host .host-title h3 {
    font-size: 3em;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 40px;
}

.host .host-container {
    display: flex;
    padding: 40px;
    gap: 20px;
}

.host .host-container h4 {
    font-size: 2em;
    font-weight: 700;
    color: #FFFFFF;
    margin: 20px 0px;
}

.host .host-container p {
    color: #FFFFFF;
    opacity: 70%;
    font-size: 1em;
    font-weight: 400;
}

.host .host-container li {
    border: solid #533C72 1px;
    border-radius: 50px;
    padding: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.host .host-container li {
    height: 20px;
    width: 20px;
}

.footer {
    background-image: url(./assets/footer-bg.png);
    padding: 120px;
    background-size: cover;
}

.footer .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    list-style: none;
    margin: 2em;
}

.footer .footer-icons li {
    font-size: 1em;
    font-weight: 500;
    gap: 8px;
    display: flex;
}

.footer .footer-icons li span {
    opacity: 70%;
}

.footer .copy-right {
    display: flex;
    justify-content: center;
    color: white;
}
